#logo,#nav_id
{
  opacity: 1;
  transition: all 0.7s ease-in-out;
}
body
{
    background: url("https://images.unsplash.com/photo-1636956026491-86a9da7001c9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80") no-repeat center center/cover;
   
    width: 100%;
    font-family: 'Baloo Da 2';
}
nav
{
    background: rgb(0, 0, 0);
    
  font-family: "Montserrat Subrayada", sans-serif;
}
.heading
{
    display: block;
    width: 20rem;
    margin: 0 auto;
    font-size: 2rem;
    margin-bottom: 5rem;
}
section
{
    color: rgba(245, 245, 245, 0.842);
}
.form
{
    height: 20rem;
    width: 30rem;
    margin: 1px auto;
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateY(-4rem) translateX(-2rem);
    
}
input
{
    outline: none;
    border: 0px;
    width: 15rem;
    border-bottom: 1px solid rgba(245, 245, 245, 0.705);
    color: rgba(245, 245, 245, 0.705);
    background: none;
    padding: 8px 10px;
    margin: 0.5rem 0;
    transform: translateX(1rem);
}
#feedback
{
    width: 15rem;
    height: 10rem;
    border: 1px solid rgba(245, 245, 245, 0.705) ;
    color: rgba(245, 245, 245, 0.705);
    background: none;
    padding: 8px 10px;
    margin: 0.5rem 0;
    outline: none;

}
#feedlabel
{
   position: relative;
   bottom: 6rem;
}
.nav_elements
{
    height: 105vh;
    width: 8rem;
    background: rgb(0, 0, 0);
    color: #110245;
    position: absolute;
    top: 2.5rem;
  left: 0;
  bottom: 0;
}
button
{
    padding: 6px 2rem;
    transform: translateY(2rem) translateX(30%);
    color: whitesmoke;
    background: none;
    font-family: 'Baloo Da 2';
    border: 1.5px solid rgba(76, 0, 121, 0.746);
    border-radius: 7px;
    transition: all 0.5s;
    box-shadow: 0px 5px 7px rgba(2, 20, 175, 0.822);
    transform-style: preserve-3d;
}
button:hover
{
    transform: scale(1.03) translateY(2rem) translateX(30%) translateZ(2rem);
    background: linear-gradient(#2D1784,#110245);
    border: 1.5px solid rgba(245, 245, 245, 0);
    box-shadow: 0px 5px 7px rgba(73, 73, 78, 0.822);
}
footer {
    height: 30px;
    width: 100%;
    /* position: ; */
    text-align: center;
    color: whitesmoke;
    top: 10.5rem;
    position: relative;
    z-index: 10;
    background-color: #110245;
  }




  @media (max-width: 800px) {
    nav
    {
        background: rgb(231, 231, 231);
        
      font-family: "Montserrat Subrayada", sans-serif;
    }
  .nav_elements{

      
      height: 15vh;
      width: 100%;
    background: none;
    position: absolute;
    top: 0.4rem;

    bottom: 0px;
}
.heading
{
    width: 21rem;
    margin: 0 auto;
    display: block;
    font-size: 2rem;
    left: 2rem;
    position: relative;
}

section
{   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 0;
    height: 600px;
}
#middle
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
    
.form {
    height: 20rem;
    width: 23rem;
    margin: 1px auto;
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateY(10%) translateX(0rem);
}
footer
{
    height: 30px;
    width: 24rem;
    color: white;
    position: absolute;
    left: 0%;
    top: 109vh;
    margin-top: 2rem;
    font-size: 0.8rem;
}
}